@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
body,html{
    height: 100%;
    width: 100%;
}
#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}
nav{
    padding: 2.8vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-part2{
    display: flex;
    align-items: center;
    gap: 1.5vw;
}
#nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 1vw;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    transition: all ease 0.65s;
}
#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    bottom: -100%;
    left: 0%;
    border-radius: 50%;
    transition: all ease 0.65s;
}
#nav-part2 h4:hover::after{
    bottom: 0%;
    border-radius: 0%;
}
#nav-part2 h4 a{
    color: black;
    text-decoration: none;
    position: relative;
    z-index: 9;
}
#nav-part2 h4:hover a{
    color: white;
}
#center{
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 2.5vw;
}
#center h1{
    font-size: 10vw;
    line-height: 9vw;
    text-align: right;
}
#left h3{
    width: 40vw;
    font-size: 2vw;
    font-weight: 500;
    line-height: 2vw;
    margin-top: 4vw;
}
#left #capsule-player{
    height: 25vh;
    width: 70%;
    border-radius: 100px;
    overflow: hidden;
}
#left #capsule-player video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1> video{
    border-radius: 30px;
    margin-top: 4vw;
    width: 100%;
    object-fit: cover;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
}
#moving-text{
    overflow-x: auto;
    white-space: nowrap;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
.con{
    display: inline-block;
    margin-top: 1vw;
    white-space: nowrap;
    animation-name: move;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#moving-text h1{
    font-size: 9vw;
    display: inline-block;
}
#gola{
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-color: #FE320A;
    display: inline-block;
    margin: 1vw 2vw;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#page2-bottom{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6vw;
}
#page2-bottom h1{
    font-size: 3vw;
    width: 60%;
}
#bottom-part2{
    width: 30%;
}
#bottom-part2 img{
    width: 30%;
}
#bottom-part2 p{
    width: 90%;
    font-weight: 600;
}
#page3{
    min-height: 100vh;
    width: 100%;
    padding: 4vw 0;
}
.elem{
    height: 150px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 0 2vw;
    overflow: hidden;
}
.elem h2{
    font-size: 2vw;
    font-weight: 600;
    position: relative;
    z-index: 9;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.4s;
}
.elem:hover .overlay{
    top: 0%;
}
#fixed-image{
    height: 30vw;
    width: 24vw;
    border-radius: 10px;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}